.portfolio {
    padding: 5.3rem 0 0 2rem;
    background-color:var(--darken-color);
    color:var(--lighten-color);
    height:100vh;
}

.project_cards {
   display:flex;
   align-items:center;
   justify-content:center;
}